.cardWrapper {
  height: 250px;
  width: 150px;

  display: grid;
  place-items: center;
}

.BACKGROUND {
  &-RED {
    @apply bg-red-700;
  }
  &-BLUE {
    @apply bg-blue-800;
  }
  &-YELLOW {
    @apply bg-yellow-600;
  }
}
